@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "space mono";
}
main {
}
section {
  display: flex;
  margin: 12.5rem 4.813rem 19.25rem 4.813rem;
  gap: 7.486rem;
}
h1 {
  margin: 2.5rem 0 0 4.813rem;
  font-family: "Inconsolata";
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.08rem;
  color: #333333;
}
.scarecrow {
  height: 27.969rem;
  width: 33.701rem;
}
h2 {
  font-weight: 700;
  font-size: 4rem;
  letter-spacing: -0.035rem;
  color: #333333;
  margin-bottom: 2.25rem;
}
.text {
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: -0.035rem;
  width: 23.813rem;
  margin-bottom: 4rem;
  color:#4F4F4F;
}
input {
  font-weight: 700;
  font-size: 0.875rem;
  font-family: "Space Mono";
  letter-spacing: -0.035rem;
  color: white;
  background-color: #333333;
  border: none;
  padding: 1.5rem 2.688rem;
  cursor: pointer;
}
input:hover {
  background-color: #222222;
}
.footer {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #BDBDBD;
}
a {
  color: #6a6a6a;
  font-weight: 700;
  text-decoration: none;
}






 @media screen and (max-width: 1393px) {
  section {
    margin: 12.5rem 2.5rem 19.25rem 2.5rem;
    gap: 60px;
  }
}

@media screen and (max-width: 1133px) {
  section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4.853rem;
  }
}

 @media screen and (max-width: 768px) {
  section {
    margin: 64px 0 114px 0;
  }
  div {
    margin: 0 0 0 24px;
  }
  h1 {
    margin: 20px 0 0 24px;
    font-size: 23px;
  }
  h2 {
    font-size: 45px;
    line-height: 71px;
    margin: 0 0 30px ;
  }
  .text {
    font-size: 18px;
    line-height: 27px;
    max-width: 328px;
    margin: 0 0 4.125 0;
  }
  .scarecrow {
    width: 17.927rem;
    height: 14.875rem;
    margin: 0 24px;
  }
  .footer {
    font-size: 14px;
  }
]
