@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "space mono";
}
main {
  margin-left: 77px;
}
 section {
  display: flex;
  margin-top: 80px;
  grid-gap: 120px;
}
h2 {
  font-family: "Inconsolata";
  color: #333333;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -0.08em;
  margin: 40px 0 0 0;
}
.scarecrow {
  height: 27.964em;
  width: 33.701em;
}
h1 {
  color: #333333;
  font-size: 64px;
  letter-spacing: -0.035em;
  margin-bottom: 36px;
  max-width: 586px;
}
p{
  color: #4F4F4F;
  font-size: 24px;
  letter-spacing: -0.035em;
  margin-bottom: 64px;
  max-width: 381px;
}
input {
  padding: 24px 43px;
  font-family: "space mono";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.035em;
  color: white;
  background-color: #333333;
  border: none;
  cursor: pointer;
}
@media (max-width: 1000px) {
  main {
    margin: 0 48px;
  }
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h2 {
    margin-top: 40px;
    font-size: 3.8em;
    font-weight: 700;
  }
  .scarecrow {
    margin-top: 109px;
    height: 37.964em;
    width: 43.701em;
  }
  div {

  }
  h1 {
    margin: 0 0 80px 0;
    font-size: 124px;
    max-width: none;
  }
  p{
    margin:0 0 168px 0;
    font-size: 35px;
    max-width: none;
  }
  input {
    font-size: 38px;
    padding: 68px 115px;
  }
}
